<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">D</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li class="#"><a href="/greeting">Update</a></li>

        </ul>
    </div>
</nav>
<p th:text="'Hello, ' + ${name} + '!'"/>

<div class="col-md-8">
    <div class="col-md-2">Choose team to edit:</div>

    <!--<div th:each="team : ${teams}"><a th:text="${team.name}">team</a></div>-->

    <div class="dropdown class-md-4">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
            <span class="caret"></span></button>
        <ul class="dropdown-menu" th:each="team : ${teams}">

            <li th:text="${team.name}"></li>
            <!--<li><a href="#">HTML</a></li>-->
            <!--<li><a href="#">CSS</a></li>-->
            <!--<li><a href="#">JavaScript</a></li>-->
        </ul>
    </div>


</div>
</body>
</html>